{% extends "base.html" %}
{% load static %}
{% block content %}
<h6 style="color:#50c2a5; font-size: 50px;">
    BACKEND INTERNAL 
</h6>
  <p style="color:#50c2a5; font-size:20px ; ">
    Backend internal is the backend team of The Samaritan Technologies, together we'll achieve everything, this app

    is to keep track of our employees, their work, behaviour, progress, actually everything to keep a track and keep 

    things posted and up to date, so lets hit it off together and make some mark for this company 
    
    SO LETS! 
</p>
{% endblock %}
